

.container {
  position: relative;
  overflow: hidden;
}

.background-shape {
  position: absolute;
  top: -23%;
  right: -4%;
  width: 850px;
  height: 850px;
  background-color: white;
  border-radius: 50%;
  transform: rotate(15deg);
  z-index: 0;
}
